<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastFood"
        tools:targetApi="31">
        <activity android:name=".List_Activity.Main_Activity.Activity_history"
            android:exported="false"/>
        <activity
            android:name=".List_Activity.Main_Activity.Statistical_Activity"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Bill_Detail1_Activity"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Bill_Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Payment_Confirmation_Activity"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Order_Confirmation_Activity"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Bill_History"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Activity_history"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Activity_changeInfo_admin"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Management.Bill_Detail_Manager"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Confirmed_order"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.oderDeatil"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Management.Product_Type_Manager"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Changepassword_Activity"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Login.Forget_Password"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".List_Activity.Main_Activity.ChangePass_Activity_Admin"
            android:exported="false"/>
        <activity
            android:name=".List_Activity.Activity_Login.Confirm"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Login.Enter_Location"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Login.Enter_Information"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Login.Main_Login"
            android:exported="true" />
        <activity
            android:name=".List_Activity.Activity_Management.User_Manager"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Activity_Management.Bill_Manager"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.Activity_changeInfo"
            android:exported="false"/>
        <activity
            android:name=".List_Activity.Activity_Management.Product_Manager"
            android:exported="false" />
        <activity
            android:name=".List_Activity.Main_Activity.MainActivity_Admin"
            android:exported="true" />
        <activity
            android:name=".List_Activity.Main_Activity.MainActivity_User"
            android:exported="true" />
        <activity
            android:name=".List_Activity.Onboarding_Screen.Main_Onboarding"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>